* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS";
  background-color: rgb(224, 228, 241);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(224, 228, 241);
  padding: 7px;
}

#logo {
  height: inherit;
  width: 180px;
  border: solid white;
  border-radius: 80px;
}

h1 {
  display: flex;
  font-size: 6em;
  flex-direction: row;
  text-transform: uppercase;
}

h2 {
  display: flex;
  flex-direction: row;
  margin: 20px;
  text-transform: uppercase;
}

#banner {
  display: flex;
  flex-direction: column;
}

#nav,
#social-media {
  display: flex;
  font-weight: bolder;
  font-size: 1rem;
  text-transform: uppercase;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;
}

main {
  display: flex;
  flex-direction: column;
  background-color: rgb(224, 228, 241);
  padding: 5px;
}

.tag {
  font-size: 2em;
  color: rgb(123, 79, 13);
  display: inline-block;
  text-transform: uppercase;
  padding: 15px;
}

p {
  color: rgb(12, 8, 1);
  font-weight: bold;
  padding: 15px;
}

#AboutUs,
#Style,
#History,
#Cocktails,
#Shop,
#Contact {
  border: solid rgb(205, 207, 223);
  padding: 30px;
  background-image: url(./images/Boeing\ 747.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.btn {
  background-color: rgb(2, 4, 60);
  color: aliceblue;
  border: 3px solid white;
  padding: 15px;
  border-radius: 15px;
  font-weight: bolder;
  cursor: pointer;
}

#social-media {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

.social-icons {
  height: inherit;
  width: 40px;
}

footer {
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-weight: bolder;
}
