* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: blanchedalmond;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: blanchedalmond;
  padding: 7px;
}

#logo {
  height: inherit;
  width: 180px;
  border: solid white;
  border-radius: 80px;
}

h1 {
  display: flex;
  font-size: 6em;
  flex-direction: row;
  text-transform: uppercase;
}

h2 {
  display: flex;
  flex-direction: row;
  margin: 20px;
  text-transform: uppercase;
}

#banner {
  display: flex;
  flex-direction: column;
}

#nav {
  display: flex;
  font-weight: bolder;
  font-size: 1rem;
  text-transform: uppercase;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;
}

main {
  background-color: rgb(244, 210, 181);
  padding: 5px;
}

#AboutUs {
  background-image: url(./images/Boeing\ 747.jpg);
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 150px;
  z-index: 1;
}

.tag {
  font-size: 2em;
  color: blanchedalmond;
}
